%p#notice= notice
%p
  %b Name:
  = @exercise_type.name
%p
  %b Description:
  = @exercise_type.description
= link_to 'Edit', edit_exercise_type_path(@exercise_type)
|
\#{link_to 'Back', exercise_types_path}
