%h1 Listing users
%table
  %tr
    %th
    %th Username
    %th First name
    %th Last name
    %th Birthday
    %th
    %th
    %th
  - @users.each do |user|
    %tr
      %td= image_tag avatar_url(user)
      %td= user.username
      %td= user.first_name
      %td= user.last_name
      %td= user.birthday
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New User', new_user_path
