= form_for(@muscle_group) do |f|
  - if @muscle_group.errors.any?
    #error_explanation
      %h2
        = pluralize(@muscle_group.errors.count, "error")
        prohibited this muscle_group from being saved:
      %ul
        - @muscle_group.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :description
    %br/
    = f.text_area :description
  .actions
    = f.submit
