#menu
  = link_to "Home", "/"
  = link_to "Muscles", muscles_path
  = link_to "Muscle Groups", muscle_groups_path
  = link_to "Exercise", exercises_path
  = link_to "Exercise Type", exercise_types_path

